@use '../../mixins/responsive.scss' as *;
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-main);
  font-size: var(--fs-base);
  color: var(--color-text-main);
  line-height: 1.5;
  background-image: linear-gradient(
      185deg,
      #ffffffb8 0%,
      hsla(0, 0%, 100%, 0.67) 100%
    ),
    repeating-conic-gradient(
      from 345deg at 60% 51%,
      hsla(30, 100%, 75.29%, 0.35016983869511775) 40%,
      hsla(150, 46.15%, 94.9%, 0.8373960532127172) 81%
    ),
    conic-gradient(
      from 122deg at 43% 3%,
      hsla(214, 100%, 34.19%, 0.69) 10%,
      hsla(157.65, 53.68%, 18.63%, 0.6312627448001473) 53%
    ),
    repeating-linear-gradient(164deg, #581148 9%, #c0b7ff 63%);
}
