/* En esta carpeta puedo tener separadas las variables */

:root {
  /* fuentes*/

  --fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --ff-title: 'Limelight', cursive;
  --ff-main: 'Montserrat', sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;

  /* Colores*/
  --color-text-main: hsl(0, 0%, 15%);
  --color-text-title: hsl(0, 0%, 5%);
  --color-text-white: hsl(0, 0%, 99%);
  --color-bg-primary: hsl(0, 0%, 35%);
  --color-bg-secondary: hsl(0, 0%, 5%);
  --color-bg-terciary: hsl(0, 0%, 99%);
  --color-btn: hsl(0, 0%, 5%);
  --color-menu-active: hsl(0, 0%, 65%);
  --color-deco-primary: hsl(0, 0%, 65%);
  --color-deco-secondary: hsl(0, 0%, 5%);
  // --color-btn-white: hsl(0, 0%, 99%);

  /* Espacios*/
  --flow: 1rem;
}
